*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* MAIN */

.card{
    margin: 20px;
}

.img_cover{
    width: 150px;
    height: 150px;
}

.img_cover img{
    height: 100%;

}

.max_h{
    max-height: 230px;
}

h5{
    font-size: 16px;
}

p{
    font-size: 13px;
}